<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kelly.activity_chapter">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SecondActivity" />
        <activity
            android:name=".ThridActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <service
            android:name=".MainService"
            android:exported="false" />

        <activity android:name=".StandardActivity"
            android:taskAffinity="com.kelly.standard"
            />
        <activity
            android:name=".SingleTopActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity="com.kelly.singleTop"
            />
        <activity
            android:name=".SingleTaskActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.kelly.singleTask"
            />
        <activity
            android:name=".SingleInstanceActivity"
            android:launchMode="singleInstance"
            android:exported="true"
            />

    </application>

</manifest>