<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kelly.ipc">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".IntentActivity"
            android:launchMode="singleTask"
            android:process="com.kelly.ipc.bundle.remote"
            android:taskAffinity="com.kelly.my_activity">
            <intent-filter>
                <action android:name="com.kelly.action.intentActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".messenger.MessengerActivity" />
        <activity android:name=".aidl.AIDLActivity" />
        <activity android:name=".socket.Client"/>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

        <service
            android:name=".IntentService"
            android:exported="true"
            android:process="com.kelly.my_service">
            <intent-filter>
                <action android:name="com.keylly.action.start_service" />
            </intent-filter>
        </service>

        <service
            android:name=".messenger.MessengerService"
            android:process=":remote" />

        <service
            android:name=".aidl.AIDLService"
            android:process=":remote" />

        <service
            android:name=".socket.SocketService"
            android:process=":remote"
            android:exported="true" />


        <receiver
            android:name=".IntentReceiver"
            android:exported="true"
            android:process="com.kelly.my_receiver">
            <intent-filter>
                <action android:name="com.kelly.action.receiver" />
            </intent-filter>
        </receiver>

    </application>

</manifest>